<article class="site-header__featured-post">
    {% for news in featured_news %}
        <div class="featured-post-wrapper">
            <h1 class="featured-title">{{ news.title }}</h1>
            <div class="featured-content">
                <p class="paragraph">{{ news.header_text }}</p>
                <div class="info">
                    <p><strong>Author:</strong> {{ news.author.name }}</p>
                    <p><strong>Date:</strong> {{ news.date }}</p>
                    <p>
                        <strong>Tags:</strong>
                        {% for term in news.terms %}
                            <a class="term" href="news/?_news_tag={{ term.slug }}">{{ term.name }}</a>
                        {% endfor %}
                    </p>
                </div>
            </div>
        </div>
        <img src="{{ news.thumbnail.src }}" alt="{{ news.title }}" />
    {% endfor %}
</article>
