<aside class="split-column__ads">
    <div class="promotion">
        <h4>Featured Tours</h4>
        {% if options.promoted_content_image.url %}
            <img src="{{ options.promoted_content_image.url }}" alt="Promotion" />

            <a class="primary-button--arrow link-one" href="{{ options.promoted_link.url }}">
                {{ options.promoted_link.title }}
                <span class="fa-solid fa-arrow-right"></span>
            </a>
        {% endif %}

        {% if options.promoted_content_image_two.url %}
            <img src="{{ options.promoted_content_image_two.url }}" alt="Promotion" />

            <a class="primary-button--arrow" href="{{ options.promoted_content_link_two.url }}">
                {{ options.promoted_content_link_two.title }}
                <span class="fa-solid fa-arrow-right"></span>
            </a>
        {% endif %}
    </div>

    <div class="contests">
        <p class="h4">Featured Contests</p>
        {% set count = 1 %}
        {% for contest in sidebar_contests %}
            <div class="contest-info">
                <p class="count">0{{ count }}</p>
                <a class="contest-link" href="{{ contest.link }}">{{ contest.title }}</a>
            </div>
            {% set count = count + 1 %}
        {% endfor %}
    </div>

    <div class="sidebar-subscribe">
        <p class="h4">VIP Newsletter</p>
        {{ fn('do_shortcode', '[gravityform id="1" title="false" description="false" ajax="true"]') }}
    </div>
</aside>
