{% extends 'base.twig' %}

{% block content %}
    {# Featured Contests #}
    <section class="post-block">
        <div class="post-block__header">
            <h2 class="h1">Featured Contests</h2>
            <a class="all-posts-link" href="/contests">
                See All <span class="fa-solid fa-arrow-right"></span>
            </a>
        </div>

        <div class="post-block__post-row">
            {% for contest in contest_block %}
                <a class="post-card" href="{{ contest.link }}">
                    <div class="date-author">
                        <time>{{ contest.date }}</time>
                    </div>
                    <img src="{{ contest.card_image.url }}" alt="{{ contest.title }}" />
                    <h3 class="h4">{{ contest.title }}</h3>
                    <p class="excerpt">{{ contest.excerpt.read_more('') }}</p>
                    <p class="terms">
                        {% for term in contest.terms %}
                            <span class="term">{{ term.name }}</span>
                        {% endfor %}
                    </p>
                </a>
            {% endfor %}
        </div>
    </section>




    <section class="split-column"></section>





    {# Featured Spotify Playlists #}
    <section class="post-block">
        <div class="post-block__header">
            <h2 class="h1">Spotify Playlists</h2>
            <a class="all-posts-link" href="/playlists">
                See All <span class="fa-solid fa-arrow-right"></span>
            </a>
        </div>

        <div class="post-block__post-row">
            {% for playlist in playlist_block %}
                <a class="post-card" href="{{ playlist.link }}">
                    <div class="date-author">
                        <time>{{ playlist.date }}</time>
                    </div>
                    <img src="{{ playlist.card_image.url }}" alt="{{ playlist.title }}" />
                    <h3 class="h4">{{ playlist.title }}</h3>
                    <p class="excerpt">{{ playlist.excerpt.read_more('') }}</p>
                    <p class="terms">
                        {% for term in playlist.terms %}
                            <span class="term">{{ term.name }}</span>
                        {% endfor %}
                    </p>
                </a>
            {% endfor %}
        </div>
    </section>

    {# Featured Cricket Updates #}
    <section class="post-block">
        <div class="post-block__header">
            <h2 class="h1">World Cup Cricket Updates</h2>
            <a class="all-posts-link" href="/news">
                See All <span class="fa-solid fa-arrow-right"></span>
            </a>
        </div>

        <div class="post-block__post-row">
            {% for news in world_cup_news %}
                <a class="post-card" href="{{ news.link }}">
                    <div class="date-author">
                        <time>{{ news.date }}</time>
                        <span>{{ news.author.name }}</span>
                    </div>
                    <img src="{{ news.card_image.url }}" alt="{{ news.title }}" />
                    <h3 class="h4">{{ news.title }}</h3>
                    <p class="excerpt">{{ news.excerpt.read_more('') }}</p>
                    <p class="terms">
                        {% for term in news.terms %}
                            <span class="term">{{ term.name }}</span>
                        {% endfor %}
                    </p>
                </a>
            {% endfor %}
        </div>
    </section>
{% endblock %}
