{% extends 'base.twig' %}

{% block content %}
    <section class="post-block">
        <div class="post-block__header">
            <h2 class="h1">Featured Contests</h2>
            <a class="all-posts-link" href="/contests">
                See All <span class="fa-solid fa-arrow-right"></span>
            </a>
        </div>

        <div class="post-block__post-row">
            {% for contest in contest_block %}
                <a class="post-card" href="{{ contest.link }}">
                    <div class="date-author">
                        <time>{{ contest.date }}</time>
                    </div>
                    <img src="{{ contest.thumbnail.src }}" alt="{{ contest.title }}" />
                    <h3 class="h4">{{ contest.title }}</h3>
                    <p class="excerpt">{{ contest.header_text }}</p>
                    <p class="terms">
                        {% for term in contest.terms %}
                            <span class="term">{{ term.name }}</span>
                        {% endfor %}
                    </p>
                </a>
            {% endfor %}
        </div>
    </section>




    <section class="split-column"></section>





    <section class="post-block">
        <div class="post-block__header">
            <h2 class="h1">Spotify Playlists</h2>
            <a class="all-posts-link" href="/playlists">
                See All <span class="fa-solid fa-arrow-right"></span>
            </a>
        </div>

        <div class="post-block__post-row">
            {% for playlist in playlist_block %}
                <a class="post-card" href="{{ playlist.link }}">
                    <div class="date-author">
                        <time>{{ playlist.date }}</time>
                        <span>{{ playlist.author.name }}</span>
                    </div>
                    <img src="{{ playlist.thumbnail.src }}" alt="{{ playlist.title }}" />
                    <h3 class="h4">{{ playlist.title }}</h3>
                    <p class="excerpt">{{ playlist.header_text }}</p>
                    <p class="terms">
                        {% for term in playlist.terms %}
                            <span class="term">{{ term.name }}</span>
                        {% endfor %}
                    </p>
                </a>
            {% endfor %}
        </div>
    </section>

    <section class="post-block">
        <div class="post-block__header">
            <h2 class="h1">World Cup Cricket Updates</h2>
            <a class="all-posts-link" href="/news">
                See All <span class="fa-solid fa-arrow-right"></span>
            </a>
        </div>

        <div class="post-block__post-row">
            {% for news in cricket_news_updates %}
                <a class="post-card" href="{{ news.link }}">
                    <div class="date-author">
                        <time>{{ news.date }}</time>
                        <span>{{ news.author.name }}</span>
                    </div>
                    <img src="{{ news.thumbnail.src }}" alt="{{ news.title }}" />
                    <h3 class="h4">{{ news.title }}</h3>
                    <p class="excerpt">{{ news.header_text }}</p>
                    <p class="terms">
                        {% for term in news.terms %}
                            <span class="term">{{ term.name }}</span>
                        {% endfor %}
                    </p>
                </a>
            {% endfor %}
        </div>
    </section>

    <section class="media-kit">
        <h2 class="h1">Work With Us</h2>
        <div class="media-kit__kit">
            <img src="{{ options.media_kit_image.url }}" alt="{{ options.media_kit_title }}" />
            <div class="kit-text">
                <h3>Get the Media Kit</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Egestas dui id ornare arcu odio ut sem. Cras ornare arcu dui vivamus arcu felis bibendum ut. Porttitor leo a diam.</p>
                <a class="primary-button" href="/media-kit">Media Kit <span class="fa-solid fa-arrow-right"></a>
            </div>
        </div>
    </section>
{% endblock %}
