{% extends 'base.twig' %}

{% block content %}
    {# Featured Contests #}
    <section class="post-block">
        <div class="post-block__header">
            <h2 class="h1">Featured Contests</h2>
            <a class="all-posts-link" href="/contests">
                See All <span class="fa-solid fa-arrow-right"></span>
            </a>
        </div>

        <div class="post-block__post-row">
            {% for contest in featured_contests %}
                <a class="post-card" href="{{ contest.link }}">
                    <div class="date-author">
                        <time>{{ contest.date }}</time>
                    </div>
                    <img src="{{ contest.card_image.url }}" alt="{{ contest.title }}" />
                    <h3 class="h4">{{ contest.title }}</h3>
                    <p class="excerpt">{{ contest.excerpt.read_more('') }}</p>
                    <p class="terms">
                        {% for term in contest.terms %}
                            <span class="term">{{ term.name }}</span>
                        {% endfor %}
                    </p>
                </a>
            {% endfor %}
        </div>
    </section>

    {# Featured News and Ads #}
    <section class="split-column align-center">
        <div class="split-column__news">
            {% for news_post in news %}
                <div class="news-container">
                    <img class="news-image-desktop" src="{{ news_post.card_image.url }}" alt="{{ news_post.title }}" />
                    <img class="news-image-mobile" src="{{ news_post.thumbnail.src }}" alt="{{ news_post.title }}" />

                    <div class="news-info">
                        <a class="news-link" href="{{ news_post.link }}">
                            <h3 class="h5">{{ news_post.title }}</h3>
                        </a>

                        <p class="excerpt">{{ news_post.excerpt.read_more('') }}</p>

                        <p>
                            <span class="author-name"><strong>Author:</strong> {{ news_post.author.name }}</span>
                            <span class="news-date"><strong>Date:</strong> {{ news_post.date }}</span>
                        </p>

                        <p class="tags"><strong>Tags:</strong>
                            {% for term in news_post.terms %}
                                <a class="term" href="news/?_news_tag={{ term.slug }}">{{ term.name }}</a>
                            {% endfor %}
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>

        {% include '/templates/partials/sidebar.twig' %}
    </section>

    {# Featured Spotify Playlists #}
    <section class="post-block">
        <div class="post-block__header">
            <h2 class="h1">Spotify Playlists</h2>
            <a class="all-posts-link" href="/playlists">
                See All <span class="fa-solid fa-arrow-right"></span>
            </a>
        </div>

        <div class="post-block__post-row">
            {% for playlist in featured_playlists %}
                <a class="post-card" href="{{ playlist.link }}">
                    <div class="date-author">
                        <time>{{ playlist.date }}</time>
                    </div>
                    <img src="{{ playlist.card_image.url }}" alt="{{ playlist.title }}" />
                    <h3 class="h4">{{ playlist.title }}</h3>
                    <p class="excerpt">{{ playlist.excerpt.read_more('') }}</p>
                    <p class="terms">
                        {% for term in playlist.terms %}
                            <span class="term">{{ term.name }}</span>
                        {% endfor %}
                    </p>
                </a>
            {% endfor %}
        </div>
    </section>

    {# Featured Cricket Updates #}
    <section class="post-block">
        <div class="post-block__header">
            <h2 class="h1">World Cup Cricket Guides</h2>
            <a class="all-posts-link" href="/news">
                See All <span class="fa-solid fa-arrow-right"></span>
            </a>
        </div>

        <div class="post-block__post-row">
            {% for news in world_cup_news %}
                <a class="post-card" href="{{ news.link }}">
                    <div class="date-author">
                        <time>{{ news.date }}</time>
                        <span>{{ news.author.name }}</span>
                    </div>
                    <img src="{{ news.card_image.url }}" alt="{{ news.title }}" />
                    <h3 class="h4">{{ news.title }}</h3>
                    <p class="excerpt">{{ news.excerpt.read_more('') }}</p>
                    <p class="terms">
                        {% for term in news.terms %}
                            <span class="term">{{ term.name }}</span>
                        {% endfor %}
                    </p>
                </a>
            {% endfor %}
        </div>
    </section>
{% endblock %}
