{% extends 'base.twig' %}

{% block content %}
    <section class="post-block">
        <div class="post-block__page-header">
            <p class="h4">Filter by Tag</p>
            <div class="tag-filter">
                {{ fn('do_shortcode', '[facetwp facet="playlist_tags"]') }}
            </div>
        </div>

        <div class="post-block__post-row facetwp-template">
            {% for playlist in playlists %}
                <a class="post-card" href="{{ playlist.link }}">
                    <div class="date-author">
                        <time>{{ playlist.date }}</time>
                        <span>{{ playlist.author.name }}</span>
                    </div>

                    {% if playlist.card_image.url %}
                        <img src="{{ playlist.card_image.url }}" alt="{{ playlist.title }}" />
                    {% else %}
                        <img src="{{ playlist.thumbnail.src }}" alt="{{ playlist.title }}" />
                    {% endif %}

                    <h3 class="h4">{{ playlist.title }}</h3>

                    <p class="excerpt">{{ playlist.excerpt.read_more('') }}</p>

                    <p class="terms">
                        {% for term in playlist.terms %}
                            <span class="term">{{ term.name }}</span>
                        {% endfor %}
                    </p>
                </a>
            {% endfor %}
        </div>
    </section>

    {{ post.content }}
{% endblock %}

{# Spotify Player
<iframe
    style="border-radius:12px"
    src="https://open.spotify.com/embed/episode/4kD3H2K50en7UtuvcGyRtf/video?utm_source=generator&theme=0"
    width="496" height="279" frameBorder="0" allowfullscreen=""
    loading="lazy">
</iframe>
#}
