{% for contest in contest_block %}
    <a class="post-card" href="{{ contest.link }}">

        {% if contest.card_image.url %}
            <img src="{{ contest.card_image.url }}" alt="{{ contest.title }}" />
        {% else %}
            <img src="{{ contest.thumbnail.src }}" alt="{{ contest.title }}" />
        {% endif %}

        <h3 class="h4">{{ contest.title }}</h3>

        <p class="excerpt">{{ contest.excerpt }}</p>

        <p class="terms">
            {% for term in contest.terms %}
                <span class="term">{{ term.name }}</span>
            {% endfor %}
        </p>
    </a>
{% endfor %}
