{% for news in news_block %}
    <a class="post-card" href="{{ news.link }}">
        <div class="date-author">
            <time>{{ news.date }}</time>
            <span>{{ news.author.name }}</span>
        </div>

        {% if news.card_image.url %}
            <img src="{{ news.card_image.url }}" alt="{{ news.title }}" />
        {% else %}
            <img src="{{ news.thumbnail.src }}" alt="{{ news.title }}" />
        {% endif %}

        <h3 class="h4">{{ news.title }}</h3>

        <p class="excerpt">{{ news.excerpt.read_more('') }}</p>

        <p class="terms">
            {% for term in news.terms %}
                <span class="term">{{ term.name }}</span>
            {% endfor %}
        </p>
    </a>
{% endfor %}
