{% for playlist in playlist_block %}
    <a class="post-card" href="{{ playlist.link }}">
        <div class="date-author">
            <time>{{ playlist.date }}</time>
            <span>{{ playlist.author.name }}</span>
        </div>

        {% if playlist.card_image.url %}
            <img src="{{ playlist.card_image.url }}" alt="{{ playlist.title }}" />
        {% else %}
            <img src="{{ playlist.thumbnail.src }}" alt="{{ playlist.title }}" />
        {% endif %}

        <h3 class="h4">{{ playlist.title }}</h3>

        <p class="excerpt">{{ playlist.excerpt }}</p>

        <p class="terms">
            {% for term in playlist.terms %}
                <span class="term">{{ term.name }}</span>
            {% endfor %}
        </p>
    </a>
{% endfor %}
