<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="content-language" content="en-us" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<title>{{ site.name }} | {{ post.title }}</title>

        {# Termly cookie blocker (opt-out by default) #}
        {# <script type="text/javascript"
            src="https://app.termly.io/resource-blocker/0b979665-fc42-4ffa-b244-4ed7105067ae?autoBlock=on"
        ></script> #}

		{{ fn('wp_head') }}

        {# Open Graph Data #}
        {% if post.title %}
            <meta property="og:title" content="{{ post.title }}" />
        {% endif %}

        {% if post.thumbnail.url %}
            <meta property="og:image" content="{{ post.thumbnail.url }}" />
        {% endif %}

        {% if post.seo_description %}
            <meta name="description" content="{{ post.seo_description }}" />
            <meta property="og:description" content="{{ post.seo_description }}" />
        {% else %}
            <meta name="description" content="{{ post.global_seo_description }}" />
            <meta property="og:description" content="{{ post.global_seo_description }}" />
        {% endif %}

        <meta property="og:locale" content="en_US.utf-8" />
        <meta property="og:url" content="{{ post.link }}" />
        <meta property="og:type" content="website" />

        {# News links may appear on multiple pages #}
        {% if fn('is_singular', 'news') %}
			<link rel="canonical" href="{{ post.link }}">
		{% endif %}

        {# Sitemap #}
        <link rel="sitemap" type="application/xml" href="/wp-sitemap.xml" />

        {# Fonts #}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap">
        {# https://support.google.com/news/publisher-center/answer/9606800?sjid=13891664182919420624-NC #}
	</head>

	<body data-template="base.twig" class="{{ body_class }}">
        {% include 'partials/navigation.twig' %}

        <header class="site-header">
            {% if is_front_page %}
                {% include 'partials/home-header.twig' %}
            {% else %}
                {% include 'partials/post-header.twig' %}
            {% endif %}
        </header>

        <section class="main-post-wrapper" role="main" aria-label="Main page content">
            {% block content %}{% endblock %}
        </section>

        {% include 'partials/footer.twig' %}
        {% include 'external-scripts.twig' %}
		{{ fn('wp_footer') }}
	</body>
</html>
