{% extends 'base.twig' %}

{% block content %}
<article class="post-layout">
    {% if post.image_or_video == 'image' %}
        <img class="post-image" src="{{ post.thumbnail.src }}" alt="{{ post.title }}" />
    {% endif %}

    {{ post.content }}

    {% for term in post.terms('cricket-guide-tax') %}
        {% if term.name == 'Dallas' or term.name == 'New York' %}
            <a class="primary-button--arrow cricket-home-button" href="/{{ term.name|lower|replace({' ' : '-'}) }}-cricket-guides">
                All Cricket Guides for {{ term.name }}
                <span class="fa-solid fa-arrow-right"></span>
            </a>
        {% elseif term.name == 'Florida' %}
            <a class="primary-button--arrow cricket-home-button" href="/south-{{term.name|lower}}-cricket-guides">
                All Cricket Guides for South {{ term.name }}
                <span class="fa-solid fa-arrow-right"></span>
            </a>
        {% endif %}
    {% endfor %}

    <div class="share-bar">
        <p>Share on:</p>
        {{ fn('do_action', 'skv_post_intro') }}
    </div>

    <section class="author-block">
        <div class="author-block__info">
            <img src="{{ post.author.author_image.url }}" alt="{{ post.author.name }}" />
        </div>

        <div class="author-block__bio">
            <p class="h4">{{ post.author.name }}</p>
            <p><strong>Date:</strong> {{ post.date }}</p>
            <p>{{ post.author.description }}</p>
        </div>
    </section>
</article>
{% endblock %}
