{% extends 'base.twig' %}

{% block content %}
<article class="post-layout">
    {% if post.image_or_video == 'image' %}
        <img class="post-image" src="{{ post.thumbnail.src }}" alt="{{ post.title }}" />
    {% endif %}

    {{ post.content }}

    <div class="share-bar">
        <p>Share on:</p>
        {{ fn('do_action', 'skv_post_intro') }}
    </div>

    <div class="next-previous-posts">
        {% if post.prev %}
            <a class="post-nav" href="{{ post.prev.link }}">
                <p><span class="prev-arrow fa-solid fa-arrow-right"></span> Previous</p>
                <h5>{{ post.prev.title }}</h5>
            </a>
        {% endif %}

        {% if post.next %}
            <a class="post-nav" href="{{ post.next.link }}">
                <p>Next <span class="next-arrow fa-solid fa-arrow-right"></span></p>
                <h5>{{ post.next.title }}</h5>
            </a>
        {% endif %}
    </div>

    <section class="author-block">
        <div class="author-block__info">
            <img src="{{ post.author.author_image.url }}" alt="{{ post.author.name }}" />
        </div>

        <div class="author-block__bio">
            <p class="h4">{{ post.author.name }}</p>
            <p><strong>Date:</strong> {{ post.date }}</p>
            <p>{{ post.author.description }}</p>
        </div>
    </section>
</article>
{% endblock %}
